.container{
    text-align: center;
}
#welcome_img{
    width: 100%;
}
.menu{
    float: left;
    list-style: none;
    color: rgb(255, 255, 255);
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin-top: 0px;
    z-index: 10;
    top: 0px;
}
.links{
    display: inline;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
.img2{
    width: 250;
    height: 200;
}
